@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // color: #eee;
  // background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Code Pro", monospace;

  h1 {
    color: #181a2a;
    font-weight: 800;
  }
}

.markdown-content {
  // border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 21px;
  display: block;
  max-width: 980px;
  text-align: justify;
  font-size: 0.781rem;
  padding: 13.75px;

  ul {
    list-style: square;
  }
}
